$borderColor: #eceef1;
$textColor: #444;
$otherTextColor: #989898;
$colorGreen: #12b47d;
$colorRed: #fe5b5c;
$sidebarBackground: #3C4653;
$borderRadius: 3px;
$mainBackground: #F9FBFC;
$shadow: 0px 0px 5px 0px rgb(232, 232, 232);